body{
    background-color: #F6F5F5;
}
:root{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img{
    border-radius: 50%;
    width: 175px;
    padding-bottom: 10px;
}

.navbar{
    background-color: #0176be9c;
    justify-content: space-around;
    border-radius: 15px;
    display: flex;
    list-style: none;
    padding: 30px;
}

.tampilan-profile{
    gap: 1mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-nama{
    font-weight: 600;
    font-size: 20px;
    padding-top: 2px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-major{
    font-style: italic;
    padding-bottom: 5px;
}

.profile-hello{
    font-weight: 600;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button33 {
  background-color: #DDF2FD;
  border-radius: 100px;
  box-shadow: rgba(44, 53, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 53, 187, .15) 0 1px 2px,rgba(44, 53, 187, .15) 0 2px 4px,rgba(44, 53, 187, .15) 0 4px 8px,rgba(44, 53, 187, .15) 0 8px 16px,rgba(44, 53, 187, .15) 0 16px 32px;
  color: navy;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button33:hover {
  box-shadow: rgba(28, 35, 122, 0.35) 0 -25px 18px -14px inset,rgba(28, 35, 122,.25) 0 1px 2px,rgba(28, 35, 122,.25) 0 2px 4px,rgba(28, 35, 122,.25) 0 4px 8px,rgba(28, 35, 122,.25) 0 8px 16px,rgba(28, 35, 122,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
